@mixin transition($value...) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}
@mixin transform($value...) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -o-transform: $value;
    -ms-transform: $value;
    transform: $value;
}
@mixin bgSize($value...) {
   -webkit-background-size: $value !important; 
   -moz-background-size: $value !important; 
   -o-background-size: $value !important; 
   background-size: $value !important; 
}
@mixin boxShadow($value...) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}
@mixin borderBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin radius($value...) {
    -webkit-border-radius: $value;  
    -moz-border-radius: $value;  
  border-radius: $value;  
}
@mixin aniDelay($value...) {
    -webkit-animation-delay:$value;
    -moz-animation-delay:$value;
    animation-delay:$value;
}
@mixin aniDiraction {
    -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
