@charset "utf-8";
@import "_var", "_mixin";
@font-face{
    font-family: notoS;
    font-weight: 300;
    src: url("../font/NotoSansKR-Light.eot");
    src:local("%"),
        url("../font/NotoSansKR-Light.woff2") format("woff2"),
        url("../font/NotoSansKR-Light.woff") format("woff"),
        url("../font/NotoSansKR-Light.otf") format("opentype");
}
@font-face{
    font-family: notoS;
    font-weight: 400;
    src: url("../font/NotoSansKR-DemiLight.eot");
    src:local("%"),
        url("../font/NotoSansKR-DemiLight.woff2") format("woff2"),
        url("../font/NotoSansKR-DemiLight.woff") format("woff"),
        url("../font/NotoSansKR-DemiLight.otf") format("opentype");
}
@font-face{
    font-family: notoS;
    font-weight: 500;
    src: url("../font/NotoSansKR-Medium.eot");
    src:local("%"),
        url("../font/NotoSansKR-Medium.woff2") format("woff2"),
        url("../font/NotoSansKR-Medium.woff") format("woff"),
        url("../font/NotoSansKR-Medium.otf") format("opentype");
}
@font-face{
    font-family: futura;
    font-weight: 300;
    src: url("../font/Futura-SCTOT-Light.woff") format("woff"),
        url("../font/Futura\ SCTOT\ Light.ttf") format("truetype");
}
@font-face{
    font-family: futura;
    font-weight: 400;
    src: url("../font/Futura-ICG-Light.woff") format("woff"),
        url("../font/Futura\ ICG\ Light.ttf") format("truetype");
}
@font-face{
    font-family: futura;
    font-weight: 600;
    src: 
        url("../font/futura\ medium\ bt.ttf") format("truetype");
}
@font-face{
    font-family: futura;
    font-weight: 500;
    src: url("../font/Futura-Light-Regular.woff") format("woff"),
        url("../font/Futura\ Light\ Regular.otf") format("opentype");
}
@font-face{
    font-family: futuralt;
    src: url("../font/Futura-Std-Light-Oblique.woff") format("woff"),
        url("../font/Futura\ Std\ Light\ Oblique.ttf") format("truetype");
}

/* tag reset */
body , h1 ,h2, h3, h4 , h5 ,ul ,button , p { padding: 0;margin: 0;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
button{border: none;background: none;cursor: pointer;}
img{vertical-align: top;border: none;max-width: 100%;}
address{font-style: normal;}
header, nav, section, article, footer{display: block;}

/* common class */
.p_r{position: relative;}
.p_a{position: absolute;}
.clearfix:after{content: "";display: block;clear: both;}
.sr-only{opacity: 0;}
.cnt{height: 100vh;}
.crossline{position: absolute;width: 1px;height: 100%;background: #333333;}
body { 
    font-family: notoS; font-weight: 500;color: #333333;
}
/* skip */
#skip a{ 
    position: absolute;top: 0;left: -9999px;z-index: 1000;
    &:focus{height: 50px;left: 0;background: #333333;color: #ffffff;text-align: center;line-height: 50px;width: 100%;
}
}
/* device common */
#header { height: 100vh;
    .headerbox {
        @include transform(translateY(-50%));
        position: absolute;top: 50%;left: 75%;margin-left: -325px;}
        .cline{right: 25%;}
    h1{
        img {
            width: 650px;margin-top: -20px;} 
    }
    h2{ font-family: futura; font-weight: 300; font-size: 30px;position: absolute;right: 0;bottom: 50px;}
    ul { position: absolute;bottom: 5%;left: 5%; font-size: 20px;font-family: futura; font-weight: 500;
        li {  float: left;
        + li { padding-left: 20px;}}
    }
}
 #select {
    .cline2{right: 50%;}
        .scbox{
            @include transition(all 0.5s);
            width: 50%;float: left;text-align: center;height: 55%;margin-top: 25%;
            h3{font-family: futura;font-weight: 400;font-size: 60px;line-height: 1.2;
             &:after{content:""; display: block;width: 60px;height: 3px;background: #333333;margin: 0 auto;margin-top: 60px;}   
             }
             a{
                 @include borderBox;
                 @include transition(all 0.5s);
                display: block;width: 200px;height: 40px;line-height: 35px;border: 1px solid #fff;margin: 0 auto;margin-top: 50px; font-family: futura;font-weight: 500;font-size: 20px;opacity: 0;background: transparent;color: #ffffff;
                &:hover , &:focus { 
                    @include transform(background);
                    background: #ffffff;color: #333333;}
            }
                &.web:hover{
                    @include transform(top);
                    margin-top: 20%;color: #ffffff;
                    h3:after{background: #ffffff;}
                    a {opacity: 1; border-color: #ffffff;}
                   @at-root  #select .web:hover:after { content:""; background:url("../images/web/cinema_bg_3x.png") no-repeat center center;display: block;width: 50%;height: 100%;position: absolute;top: 100%;z-index: -1;}
                }
                &.visual:hover{
                    @include transform(top);
                    margin-top: 20%;color: #ffffff;
                    h3:after{background: #ffffff;}
                    a {opacity: 1; border-color: #ffffff;}
                    @at-root  #select .visual:hover:after { content:""; background:url("../images/visual/visual_bg2_3x.jpg") no-repeat center center;display: block;width: 50%;height: 100%;position: absolute;top: 100%;z-index: -1;background-size: cover;}
                }
            }
    } 
#profile {
    h5{font-size: 20px;font-family: futura;font-weight: 600;margin-bottom: 30px;
    &:after{content:"";width: 40px;height: 3px;background: #333333;display: block;margin-top: 5px;}
    }
    .cline3{left:20%;}
    .wid{ float: left;width: 25%;}
    #prbox2{text-align: right;
        ul , p {margin-right: 20px;}
        ul {font-family: futura;font-size: 50px;font-weight: 400;line-height: 1;margin-top: 30%;}
        p{font-size: 18px; font-weight: 300;}
        span{font-weight: 500;}
    }
    #prbox3{margin-top: 30%;
       h5, ul {margin-left: 20px;}
        .title {display: inline-block; font-size: 15px;font-weight: 500;
            li{margin-bottom: 17px;
            &:first-child{font-size: 20px;}
            &:nth-child(2):after{width: 45px;}
            &:nth-child(4):after{width: 55px;}}
        li+li:after { content:""; width: 30px;height: 2px;background: #333333;display: block;}
    }
        .answer {display: inline-block;font-size: 15px;font-family: futuralt;
        li{margin-bottom: 20px;
        &:first-child{font-size: 22px;margin-bottom: 25px;}}}
    }
    #prbox4{margin-top: 30%;
        h5, ul,p {margin-left: 20px;}
        p { font-size: 18px;font-family:futuralt;margin-top: 15px;margin-bottom: 10px;}
        p+p {margin-top: -50px;}
        ul { font-size: 15px;
            li {margin-bottom: 10px;height: 20px;
            .gagebox {
                display: inline-block;width: 45%;height: 4px;background: #eaeaea;margin-left: 40px; margin-right: 30%;margin-top: 9px;float: right;
                .deskil1 { 
                    @include transition(all 0.5s);
                     @include transform(width);}
            &:after{
                content:"";display: block;height: 4px;background: #333;width: 0%;}}
                .deskil1:after {@include transform(width); content:"";width: 80%;}
                .deskil2:after {content:"";width: 90%;}
                .deskil3:after {content:"";width: 75%;}
                .deskil4:after {content:"";width: 50%;}
                .deskil5:after {content:"";width: 55%;}
                .deskil6:after {content:"";width: 90%;}
                .deskil7:after {content:"";width: 80%;}
                .deskil8:after {content:"";width: 50%;}
             }
           }
    }

}

//web- publishing
.btn_webClose{
    width:50px;height: 50px;z-index: 1000;left: 4%;top: 4%;position: absolute;
    .line {
        @include transition(all 0.5s);  
        display: block;width: 100%;height: 2px;background: #333;position: absolute;
            &.top {@include transform(rotate(45deg));
                top: 20px;}
            &.btm {@include transform(rotate(-45deg));
                top: 20px;}
        }
    &:hover,&:focus { 
     .line{
        @include transition(all 0.2s);
        &.top {@include transform(rotate(405deg));
            top: 20px;}
        &.btm {@include transform(rotate(-405deg));
            top: 20px;}
     }   
    }
}
#webpb{
    text-align: center;
    .cline2{right: 50%;top: 0;}
    .web {width: 50%;height: 100vh;float: left;}
    .webtxt{
        h3{
            @include transform(translateY(-50%)); width: 50%;
            font-family: futura;font-weight: 400;font-size: 60px;line-height: 1.2;position: absolute;top: 50%;
            &:after{content:""; display: block;width: 60px;height: 3px;background: #333333;margin: 0 auto;margin-top: 60px;}   
            }
    }
    .pbList{
        display: inline-block;color: #fff;font-family: futura; 
        li {
            @include transition(background-size 0.5s ease-in);
            float: left;width: 50%;height: 100vh; background:no-repeat center center; background-size: 500%;
            a{display: inline-block;padding: 0 40px;padding-top: 70%;
            h5 {font-size: 50px;font-weight: 300;padding-bottom: 20px;} 
            p {font-size: 14px;font-weight: 500;} 
            span {font-weight: 300;line-height: 20;letter-spacing: 4px;font-size: 20px;}  
            }
            &:last-child {background-image: url("../images/web/cinema_bg_3x_black.jpg");}
            &:first-child {background-image: url("../images/web/br_bg_3x.jpg");}
            &:hover,&:focus {
                background-size: 550%;}
        }
    }
}
//web_baskinrobins
.btn_brClose{
    width:50px;height: 50px;z-index: 1000;left: 4%;top: 4%;position: fixed;
    .line {
        @include transition(all 0.5s);  
        display: block;width: 100%;height: 2px;background: #333;position: absolute;
            &.top {@include transform(rotate(45deg));
                top: 20px;}
            &.btm {@include transform(rotate(-45deg));
                top: 20px;}
        }
    &:hover,&:focus { 
     .line{
        @include transition(all 0.2s);
        &.top {@include transform(rotate(405deg));
            top: 20px;}
        &.btm {@include transform(rotate(-405deg));
            top: 20px;}
     }   
    }
}
#baskinBox{
    text-align: center;
    .cline4{left: 25%;top: 0;}
    .brTxt{
        @include transform(translateY(-50%));
        width: 25%;position: fixed;top: 50%;font-family: futura;color: #333333;
        h6 {font-weight: 400;font-size: 60px;line-height: 1.2;
        &:after{content:""; display: block;width: 50%;height: 2px;background: #333;margin: 0 auto;margin-top: 30px;margin-bottom: 30px;} 
        }
        strong {font-size: 17px;font-weight: 500; }
        p{font-weight: 300;font-size: 14px;margin-bottom: 20px;margin-top: 10px;}
        span {font-weight: 300;letter-spacing: 2px;font-size: 20px;}
    }
    .brImg {
        width: 75%;position: absolute;right: 0;
    }
}

//visual designs
.btn_vidClose{
    width:50px;height: 50px;z-index: 1000;right: 4%;top: 4%;position: absolute;
    .line {
        @include transition(all 0.5s);  
        display: block;width: 100%;height: 2px;background: #333;position: absolute;
            &.top {@include transform(rotate(45deg));
                top: 20px;}
            &.btm {@include transform(rotate(-45deg));
                top: 20px;}
        }
    &:hover,&:focus { 
     .line{
        @include transition(all 0.2s);
        &.top {@include transform(rotate(405deg));
            top: 20px;}
        &.btm {@include transform(rotate(-405deg));
            top: 20px;}
     }   
    }
}
#vidpb{
    text-align: center;
    .cline2{right: 50%;top: 0;}
    .vid {width: 50%;height: 100vh;float: left;}
    .vidtxt{
        h3{
            @include transform(translateY(-50%)); width: 50%;
            font-family: futura;font-weight: 400;font-size: 60px;line-height: 1.2;position: absolute;top: 50%;right: 0;color: #333333;
            &:after{content:""; display: block;width: 60px;height: 3px;background: #333333;margin: 0 auto;margin-top: 60px;}   
            }
    }
    .vidList{
        display: inline-block;color: #fff;font-family: futura; 
        li {
            @include transition(background-size 0.5s ease-in);
            float: left;width: 50%;height: 100vh; background:no-repeat center center; background-size: 500%;
            a{display: inline-block;padding: 0 40px;padding-top: 70%;
            h5 {font-size: 50px;font-weight: 300;padding-bottom: 20px;} 
            p {font-size: 14px;font-weight: 500;} 
            span {font-weight: 300;line-height: 20;letter-spacing: 4px;font-size: 20px;}  
            }
            &:last-child {background-image: url("../images/web/cinema_bg_3x_black.jpg");}
            &:first-child {background-image: url("../images/web/br_bg_3x.jpg");}
            &:hover,&:focus {
                background-size: 550%;}
        }
    }
}

//1760px
@media all and (max-width:1760px){

}
//1280px
@media all and (max-width:1280px){
    
}
//960px
@media all and (max-width:960px){
    
}
//680px
@media all and (max-width:680px){
    
}
//480px
@media all and (max-width:480px){
    
}
@keyframes wave {
    0%{transform: scale(0);opacity: 1;}
    50%{transform: scale(1.3);opacity: 0;}
    100%{transform: scale(1.5);opacity: 0;}
}
@keyframes wave2 {
    0%{transform: scale(0);opacity: 1;}
    100%{transform: scale(1.5);opacity: 0;}
}
